<!DOCTYPE html>
<html>

<head>
    <title>Submitted Data</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
    <div class="container">
    <h3>Data submitted successfully</h3>
        <h2>Search Data!</h2>
        <form class="form-signin" method="post" action="">
            <div class="form-group">
                <label>Search</label>
                <input type="text" id="search" class="form-control" placeholder="Enter emailid to search">
            </div>
        </form>
        <br>
        <br>
        <h2>Details Data!</h2>
        <div id="decrypt"></div>
    </div>
</body>

</html>
